<div id="menu">
        <li><a>Home</a></li> 
        <li><a>Quem Somos</a></li>
        <li><a>Serviços</a></li>
        <li><a>Coliseu</a></li>
        <li><img src="/app/src/images/logo/logo-novo-titans.png" alt="Logo Titans" /> </li>
        <li><a>Equipes</a>
            <ul>
                <li><a>Ceos - Nível 6 - coed/non-tumbling</a></li>
                <li><a>Cronos - Nível 4 - coed</a></li>
                <li><a>Hyperion - Nível 3 - coed</a></li>
                <li><a>Oceanus - Nível 2 - coed</a></li>
                <li><a>Theia - Nível 2 - allgirl</a></li>
                <li><a>Éos - Kids</a></li>
                <li><a>Gaia - CheerPom</a></li>
            </ul>
        </li>
        <li><a>Arenas</a></li>
        <li><a>Loja</a></li>
        <li><a>Contato</a></li>
</div>