body {
  background-color: #52d4e2;
  text-align: center;

  #x-body {
    margin-top: -70px;
  }
  h1 {
    font-family: "Pacifico", cursive;
    font-size: 100px;
    background: -webkit-linear-gradient(#eed0d3, #e883a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 4px 4px #ff66c4;
  }
  p {
    font-family: "Alfa Slab One", cursive;
    font-size: 74px;
    margin-top: -111px;
    color: cornsilk;
    margin-bottom: -13px;
  }
  #countdown {
    .x-countdown {
        border: 1px solid currentColor;
        border-radius: 20px;
        width: 78px;
        margin-left: 7px;
        box-shadow: inset 0 0 1em currentColor;
    }
    div {
        display: inline-block;
        line-height: 1;
        padding: 20px;
        font-family: "Ropa Sans", sans-serif;
      }
      
      span {
        display: block;
        font-size: 20px;
        color: white;
      }
      
      #days {
        font-size: 50px;
        color: #ff66c4;
      }
      #hours {
        font-size: 50px;
        color: #e883a1;
      }
      #minutes {
        font-size: 50px;
        color: #eed0d3;
      }
      #seconds {
        font-size: 50px;
        color: white;
      }
  }
  #newsletter {
    background: cornsilk;
    border-radius: 56px;
    padding: 36px 16px;
    width: 54%;
    margin-bottom: 10%;
    display: inline-block;
    box-shadow: 5px 10px 18px #888888;

    form {
      line-height: 35px;
    }

    h2 {
      font-family: "Ropa Sans", sans-serif;
    }

    label {
      font-family: "Hind Guntur", sans-serif;
    }

    input {
      width: 300px;
      height: 28px;
      border: 0;
      box-shadow: 1px 1px 2px white, 0 0 13px #eed0d3, 0 0 5px #e883a1;
    }

    button {
      padding: 21px 30px;
      font-size: 20px;
      border-radius: 39px;
      text-align: center;
      color: deeppink;
      margin-top: 22px;
      align-items: center;
      box-shadow: 1px 1px 2px white, 0 0 13px #eed0d3, 0 0 5px #e883a1;
      border: 0px;
      font-family: "Pacifico", cursive;
      background-color: white;
    }
  }
  footer {
    display: flex;
    line-height: 0px;
    font-size: 13px;
    justify-content: space-between;
    padding: 0 20%;
    font-family: "Ropa Sans", sans-serif;

    div {
        display: flex;
        align-items: center;

        svg {
            margin-right: 9px;
        }
    }
  }

    .message {
        display: none;
        color: black;
        font-size: 20px;
        font-family: 'Ropa Sans';
        margin-top: 10px;
    }
  
  
}
@media only screen and (max-width: 600px) {
    #informations {
        margin-top: 38px;

        h1 {
            font-size: 60px;
            
        }
        p {
            font-size: 56px;
            margin-top: -57px;
        }
    }
    #countdown {
        .x-countdown {
            width: 30px !important;
            margin-left: 1px !important;
        }
        div {
            font-size: 30px !important;
        }
        span {
            font-size: 10px !important;
        }
    }
    #newsletter {
        width: 88% !important;
        margin-bottom: 70% !important;
    }

    footer {
        line-height: initial !important;
        font-size: 10px !important;
        padding: 0 !important;
    }
}